
#info a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    transform-origin: left; /* Establece el origen de la transformación en el lado izquierdo */
}

#info a:hover {
    color: #ffffff;
    transform: translateX(5px); /* Desplaza el texto 5px hacia la derecha al pasar el cursor */
}

footer h4{
    color: #fff;
    font-weight: bold;
}

/*------------------------FOOTER Y MENU ----------------------- */


.btn-circle {
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Color de fondo negro */
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}
.btn-circle:hover {
    background-color:rgb(168, 216, 90);
}

.btn-circle i {
    color: #fff;
}