/*------------------------Editar y Eliminar------------------------ */
/* General */
a {
    text-decoration: none !important; /* Elimina cualquier subrayado */
}


a[title="Editar"], 
a[title="Eliminar"] {
    color: black; /* Asegura que los enlaces no tengan color azul */
}

/* Estilos específicos para los íconos */
a[title="Editar"] i {
    color: green; /* Ícono de edición en verde */
    padding-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease; /* Transición suave */
    font-size: 30px;
    text-decoration: none;
}

a[title="Editar"] i:hover {
    transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el mouse */
    color: #11ff00; /* Cambia el color al pasar el mouse */
}

a[title="Eliminar"] i {
    font-size: 28px;
    color: red; /* Ícono de eliminación en rojo */
    transition: transform 0.3s ease, color 0.3s ease; /* Transición suave */
}

a[title="Eliminar"] i:hover {
    transform: rotate(20deg); /* Rotación al pasar el mouse */
    color: #870000; /* Cambia el color al pasar el mouse */
}

/*------------------------Editar y Eliminar------------------------ */

.btn-dark {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: rgb(168, 216, 90);
    color: black;
}
